body {
	background-color: #555;
	font-family: sans-serif;
}

#icon {
	/*display: block;
	top: 50%;
	margin-left: auto;
	margin-right: auto;*/
	max-width: 400px;
	max-height: 400px;
	position: relative; 
    left: 0;  
    right: 0;  
    margin-right: auto;
    margin-left: auto;
    top: 50px;
}

#nav {
	bottom: 0px;
	left: 0px;
	position: fixed;
	width: 100%;
	margin: 0px;
	/*background-color: rgb(0, 84, 151);*/
	background-color: #eee;
	height: 50px;
	display: flex;
	flex-direction: row;
}

/*#nav div {
	width: 33%;
}*/

#nav div * {
	text-decoration: none;
	color: rgb(252, 176, 64);
	text-align: center;
	top: 50%;
	font-size: 1.2em;
	padding: 5px;
}

#nav div *:hover {
	text-decoration: underline;
	text-decoration-color: rgb(252, 176, 64);
}

#desc {

}