body {
	background-color: #111;
}

img {
	display: block;
	position: absolute;
	margin-top: 50%;
	margin: auto;
}

#nav {
	position: absolute;
	bottom: 0px;
	width: 100%;
	margin: 0px;
	background-color: rgb(0, 84, 151);
	height: 50px;
}

#nav div {
	width: 33%;
}

#nav div a {
	text-decoration: none;
	color: rgb(252, 176, 64);
	text-shadow: 1px 1px rgb(200, 150, 50);
	font-family: sans-serif;
	font-size: 2em;
	text-align: center;
}

#nav div a:hover {
	text-decoration: underline;
	text-decoration-color: rgb(252, 176, 64);
}
