body {
	background-color: black;
}

#nav {
	position: absolute;
	bottom: 0px;
	width: inherit;
	background-color: rgb(0, 84, 151);
	height: 50px;
}

#nav * {
	text-decoration: none;
	color: rgb(252, 176, 64);
	text-shadow: 1px 1px rgb(200, 150, 50);
	font-family: sans-serif;
	font-size: 2em;
}